.client__list {
  display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 30px;
  flex-wrap: wrap;

  @media screen and (max-width: 1199px) {
    margin: -15px;
  }

    @media screen and (min-width: 1200px) {
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
}

.client__item {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 3 * 30px) / 3);
  }

}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 210px;
  height: 92px;
  color: var(--icon-main-color);
  background-color: var(--main-background-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: color var(--anmtn-duration-cubic),
    border var(--anmtn-duration-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    // width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    
  }
}

.client__icon {
  fill: currentColor;
}
