// phone -- 480px
// tablet -- 768px
// desctop -- 1200px

$breakpoints: (
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1200px,
);
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  // outline: 1px solid red;

  // phone screen
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  // desctop screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
