.footer__socials {
    margin-right: auto;
}
.footer__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-color);
}

.socials__link--dark {
    background-color: var(--icon-footer-bg-color);
    color: var(--icon-white-color);
    transition: background-color var(--anmtn-duration-cubic);
}

.socials__link--dark:hover,
.socials__link--dark:focus {
    background-color: var(--accent-color);
}