.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-white-color);
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__contacts-link {
  font-style: normal;
  line-height: calc(21 / 14);
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  transition: color var(--anmtn-duration-cubic);

  &--alpha {
    color: var(--sencondary-white-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__socials {
//   margin-right: auto;
@media screen and (min-width:768px) {
    margin-top: 60px;
    
}
  
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
