.subscription-form__label {
  width: 100%;
  margin-right: 13px;
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--main-white-color);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-offset: -1px;
  transition: outline var(--anmtn-duration-cubic);

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
  }
}
.subscription-form__input:hover {
  outline: 1px solid var(--accent-color);
}

.subscription-form__btn {
  position: relative;
  text-align: left;
}

.btn__icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
